<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Amrit's Portfolio About Me Page</title>
    <link rel="stylesheet" href="About Me.CSS">

</head>
<body>   
    <br>
    <center>
    <div class="box">
            <h2>About Me</h2>
            <br>
       
        <div class="image1">
        <img src="Assets/images/Picture of ME.jpg" alt="Me" width="350" height="375">
        </div>
        <br>
        <h3>Name: Amrit Saigal</h3>
        <p>I am 24 years old, born in 1998. I was born in Canada and lived in Ontario all of 
        my life. I am very interested in coding in general and love learning new knowledge and 
        gaining more experience as I continue to learn and work with any and all coding languages.</p>

        <h5>Resume Attached Below:</h5>
        <a href="Assets/Copy of Resume Amrit.pdf" download="Copy of Resume Amrit"><h6>Resume</h6></a>
    </center>
    </div>
</body>
</html>