<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Amrit's Portfolio Home Page</title>
    <link rel="stylesheet" href="Home Page.CSS"/>

</head>
<body>
    <br> <br> <br>
    <div class="home">
<center>
<h4>Welcome to my Portfolio site! Please navigate through and enjoy the content on the site!</h4>
<img src="/Assets/images/Logo.png" alt="Logo">
<br>
<h3>Mission Statement: My purpose is to have an online portfolio available for all potential employers and those interested in my work to view.</h3>
</center>
</div>
</body>
</html>