<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Amrit's Portfolio Projects Page</title>
        <link rel="stylesheet" href="Projects Page.CSS"/>
    
    </head>
        <body>
            <br><br>
            <center>
            <h3> Find a couple of projects that I have completed in my short tenure at Centennial College below!</h3>
            <table>
                <thead>
                    <tr>
                        <th colspan="10"><center>Projects</center></th>
                    </tr>
                </thead>
                <tbody>
                    <tr> 
                        <td><center>Assignment Image</center></td>
                        <td><center>Description</center></td>
                    </tr>
                    <tr>
                        <td><center><img src="Assets/images/Calculator .png" width="252" height="259"></td></center>
                        <td><h5><center>Using C#, built a Windows Form Application calculator with 2 tabs, <br>
                            one being the calculator, the other being a tab about myself.
                            <br>Functionally, allows for a standard calculator and a scientific calculator,<br> as well as light and dark mode functionality.</center> </h5></td>
                    </tr>
                <tr>
                    <td><img src="Assets/images/Coffee Shop Website.jpeg" width="404.5"></td>
                    <td><h5><center>Using HTML, CSS, and JS, I built a webpage that allowed you to register as a member to the coffee club. 
                        <br>All fields are required with certain fields needing conditions to be met such as postal code requiring<br> "a0a0a0" format and 
                        passwords requiring 6 characters, one digit and one upper case character. <br>Once complete, an alert pops up thanking the user for registration </center> </h5></td>
                </tr>
                <tr>
                    <td><img src="Assets/images/Dog assignment.png" width="404.5"></td>
                    <td><h5><center>Using C#, I was to build an application that held information about different dogs such as age, breed and name. 
                        <br>Some with owners and others without. I then displayed these dogs and then prompted the user about entering the owner's name.
                        <br>If an owner that was available was selected, the information about that dog would be shown. <br>
                        If the owner that was entered was not an option, nothing was displayed.  </center> </h5></td>
                </tr>
            </tbody>
            </table>
        </body>

</html>