<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Amrit's Portfolio Services Page</title>
        <link rel="stylesheet" href="Services Page.CSS"/>
    
    </head>
        <body>
            <center><h2>Services</h2></center>

            <div class="container">
                <div class="image">
                  <img src="Assets/images/code.png">
                <div class="text">
                  <p>-HTML/CSS <br> -Javascript <br> -C# <br> -Java <br> -SQL</p>
                </div>
              </div>
            
        </body>
</html>